{% extends 'user.html' %}
{% block content %}
<div class="hero-wrap hero-bread" style="background-image: url('static/images/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-0 bread">Contact us</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
        <div class="w-100"></div>
    </div>
      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
          <form action="{% url 'tocontact' %}" class="bg-white p-5 contact-form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input name="name" type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input name="mail" type="text" class="form-control" placeholder="Your Email">
            </div>
            <div class="form-group">
              <input name="number" type="number" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group">
              <textarea name="Message" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
            </div>
          </form>
        
        </div>
      </div>
</section>
{% endblock %}