{% extends 'index.html' %}
{% block content %}
<div class="card">
    <h5 class="card-header">Contacts</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Message</th>
          </tr>
        </thead>
        {% for i in data %}
        <tbody class="table-border-bottom-0">
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{i.id}}</strong></td>
            <td>{{i.Name}}</td>
            <td>
                {{i.Mail}}
          </td>
          <td>{{i.Number}}</td>
          <td>{{i.Message}}</td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
</div>
{% endblock %}